
<h1>All Bookings</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Animal Name</th>
    <th>Animal Type</th>
    <th>Hours Requested</th>
    <th>Date of Service</th>
    <th>Total Cost</th>
  </tr>
  <% @bookings.each do |booking| %>
    <tr>
      <td><%= booking.first_name %></td>
      <td><%= booking.last_name %></td>
      <td><%= booking.animal_name %></td>
      <td><%= booking.animal_type %></td>
      <td><%= booking.hours_requested %></td>
      <td><%= booking.date_of_service %></td>
      <td><%= booking.calculate_cost %></td>
    </tr>
  <% end %>
</table>
